<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Push example</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="//www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
    <script type="text/javascript" src="/firebase_subscribe.js"></script>
</head>
<body>
    <h2>При открытии этой страницы происходит подписка на нотификации раз в 5 секунд</h2>
    <h4>Страницу можно закрыть/свернуть/переключиться на другую и бесконечно смотреть на прилетающие нотификации</h4>
</body>
</html>